body 
{
margin-top:50px;
margin-right:0px;

background:white;
font: normal 0.9em Arial;
 padding:0; 
 padding-bottom:60px;
 }

#container
{
    width: 1340px;
    height: 100px;
}
#header
{
        background: white;
	height: 150px;
	width: 1020px;
	margin-top:-40;
	margin-left:-10;
}


#logo
{
         background: ;
	color: MediumBlue ;
    font-family: vijaya;
    font-size:20px;
    font-weight: bold;
    margin-top: 50px;
    position: static;
    margin-left:0px;
    height:150px;
    width:220px;
   border-style: double;
	border-width:2px;
	border-radius: 5px;
	border-color: #FFEBCD;

}
#h
{
height:0px;

}

#whydrk
{
    background: ;
	color: MediumBlue ;
    font-family: vijaya;
    font-size:20px;
    font-weight: bold;
    margin-top: 50px;
    position: static;
    margin-left:0px;

}
#rlogo
{
         background: ;
	color: blue;
    font-family: vijaya;
    font-size:16px;
    font-weight: bold;
    margin-top: -580px;
    position: static;
    margin-left:780px;
    
    width:220px;
   border-style: double;
	border-width:2px;
	border-radius: 5px;
	border-color: #FFEBCD;

}
#cours
{
     background: ;
	color: blue;
    font-family: vijaya;
    font-size:16px;
    font-weight: bold;
    margin-top: 20px;
    position: static;
    margin-left:780px;
    
    width:220px;
    height:150px;
   border-style: double;
	border-width:2px;
	border-radius: 5px;
	border-color: #FFEBCD;

}

#notice
{
     background: ;
	color: blue;
    font-family: vijaya;
    font-size:16px;
    font-weight: bold;
    margin-top: 25px;
    position: static;
    margin-left:780px;
    
    width:220px;
    height:150px;
   border-style: double;
	border-width:2px;
	border-radius: 5px;
	border-color: #FFEBCD;

}
#dean
{
     background: ;
	color: blue;
    font-family: vijaya;
    font-size:16px;
    font-weight: bold;
    margin-top: 25px;
    position: static;
    margin-left:780px;
    
    width:220px;
    height:150px;
   border-style: double;
	border-width:2px;
	border-radius: 5px;
	border-color: #FFEBCD;

}
#notice1
{
     background: ;
	color: blue;
    font-family: vijaya;
    font-size:16px;
    font-weight: bold;
    margin-top: 25px;
    position: static;
    margin-left:780px;
    
    width:220px;
    height:150px;
   border-style: double;
	border-width:2px;
	border-radius: 5px;
	border-color: #FFEBCD;

}

#menu {
  position: relative;
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: verdana, geneva, arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: blue;
  width: 1000px;
}

#menu > ul {
    margin-top: 6px !important;
}
#menu ul {
   background: ;
   'background: ;
  'background: #B80000; 
  
  'background: linear-gradient(#cdcdcd 0%, #e2e2e2 80%, #cdcdcd 100%);
 ' border-top: 1px solid #A8A8A8;
 ' -webkit-box-shadow: inset 0 1px 0 #e9e9e9, 0 1px 0 #f5053d, 0 2px 0 #e14167, 0 8px 0 #f5053d, 0 9px 0 #c80432, 0 -1px 1px rgba(0, 0, 0, 0.1);
  '-moz-box-shadow: inset 0 1px 0 #e9e9e9, 0 1px 0 #f5053d, 0 2px 0 #e14167, 0 8px 0 #f5053d, 0 9px 0 #c80432, 0 -1px 1px rgba(0, 0, 0, 0.1);
 ' box-shadow: inset 0 1px 0 #e9e9e9, 0 1px 0 #f5053d, 0 2px 0 #e14167, 0 8px 0 #f5053d, 0 9px 0 #c80432, 0 -1px 1px rgba(0, 0, 0, 0.1);
 ' width: 20px;
  height: 27px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

#menu ul ul a {
 ' line-height: 43px;
}

#menu ul ul ul {
  left: 100%;
  top: 0;
}

#menu li {
   border-style: solid;
   border-width: 0px;
   border-color: ;
  float: left;
  padding: 0px 8px 0px 8px;
}

#menu li a {

	background:;
  color: blue;
  display: block;
  font-weight: bold;
  line-height: 30px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#menu li a:hover {
    background: blue;
    color: orange;
  'color: #000000;
  text-decoration: none;
}
#menu li ul {
  background: ;
  .border-left: 2px solid #f5053d;
  .border-right: 2px solid #f5053d;
  .border-bottom: 2px solid #f5053d;
  display: none;
  height: auto;
  filter: alpha(opacity=95);
  opacity: 0.95;
  position: absolute;
  width: 10px;
  z-index: 200;
  /*top:1em;
		/*left:0;*/
}
#menu li:hover > ul {
  display: block;
}
#menu li li {
  display: block;
  float: none;
  padding: 0px;
  position: relative;
  width: 225px;
}

#menu li ul a {
  display: block;
  font-size: 12px;
  font-style: normal;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#menu li ul a:hover {
    background: blue;
  }
#menu p {
  clear: left;
}



#img06{
margin-top:50px;
}

#slider {
    width:1500px;height:500px;/* Must be the same size as the slider images */
    border:4px;
    
}

#sliderFrame {


	position: relative;

	left:29;

	top:10;

	width:100%;

	height:auto;

	overflow:hidden;
	border:4px;
    background:white;

       
}



#wmessage
{
	font-family: serif;
	font-size: 20px;
	margin-top: -700px;
	margin-left: 230px;
	height: 460px;
	width: 540px;
	border-style: double;
	border-width: 0px;
	border-radius: 5px;
	border-color: black;

/* Mozilla Firefox */ 
background-color:  ;

}

#circular >marquee
{
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EF0E1D 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EF0E1D 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #EF0E1D 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EF0E1D));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EF0E1D 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #EF0E1D 100%);
	font-size: 20px;
	height: 30px;
	background: Blue;
	color: white;
	position: relative;
	top: 10px;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	width: 1000px;
	
}

#cssmenu ul 
{
  background: ;
color: black;
  list-style: none;
  margin-top:40px;
  margin-left:2px;
  
  padding: 0;
  vertical-align: baseline;
  line-height: 2;
  border:0px ;
  
  
}

#cssmenu > ul {
  display: block;
  position: relative;
  width: 140px;
  height:100px;
  

}

#cssmenu > ul li
{
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 119%; 
}

#cssmenu > ul li a
{
  /* Layout */
  display: block;
  position: relative;
  margin: 0;
  border-top: 2px solid #FF7F50;
  border-right: 2px solid #FF7F50;
  border-bottom: 2px solid #FF7F50;
  border-left: 2px solid #FF7F50;
  padding: 11px 20px;
  /* Typography */

  font-family: Helvetica, Arial, sans-serif;
  color: ;
  text-decoration: none;
  text-transform: uppercase;
  'text-shadow: 0 1px 1px #000;
  font-size: 15px;
  font-weight: bold;
  /* Background & effects */

  /* IE10 Consumer Preview */ 


/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, white 0%, red 80%);
background:;

        
}

/* Rounded corners for the first link of the menu/submenus */
#cssmenu > ul li:first-child > a 
{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 0;
}

/* Rounded corners for the last link of the menu/submenus */
#cssmenu > ul li:last-child > a 
{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0;
}

/* The hover state of the menu/submenu links */
#cssmenu > ul li > a:hover,
#cssmenu > ul li:hover > a
{
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #F90;
  'background: #B80000;
    background-color: #FFF;
  background: white;
 ' background: -webkit-linear-gradient(#72d4f2, #54cdf1);
  'background: -moz-linear-gradient(#72d4f2, #54cdf1);
  'background: linear-gradient(#72d4f2, #54cdf1);
  border-color: red;
}

/* The arrow indicating a submenu */
#cssmenu > ul .has-sub > a::after
{
  content: '';
  position: absolute;
  top: 16px;
  right: 10px;
  width: 0px;
  height: 0px;
  /* Creating the arrow using borders */

  border: 4px solid transparent;
  border-left: 4px solid #d8d8d8;
}

/* The same arrow, but with a darker color, to create the shadow effect */
#cssmenu > ul .has-sub > a::before 
{
  content: '';
  position: absolute;
  top: 17px;
  right: 10px;
  width: 0px;
  height: 0px;
  /* Creating the arrow using borders */

  border: 4px solid transparent;
  border-left: 4px solid #000;
}

/* Changing the color of the arrow on hover */
#cssmenu > ul li > a:hover::after,
#cssmenu > ul li:hover > a::after
{
  border-left: 4px solid #ffffff;
}

#cssmenu > ul li > a:hover::before,
#cssmenu > ul li:hover > a::before
{
  border-left: 4px solid rgba(0, 0, 0, 0.3);
}
/* THE SUBMENUS */
#cssmenu > ul ul 
{
  position: absolute;
  left: 100%;
  top: -9999px;
  padding-left: 5px;
  opacity: 0;
  width: 140px;
  /* The fade effect, created using an opacity transition */

  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
/* Showing the submenu when the user is hovering the parent link */
#cssmenu > ul li:hover > ul
{
   top: 0px;
   opacity: 1;
    
}
#cssmenu
{
    float: left;
   'margin-left: 20px;
}
#News
{
   border-style: double;
	border-color: black;
   margin-top: 130px;
	margin-left: 1px;

    height: 305px;
    border-color: black;
    font-family: sans-serif;
    color: #900000 ;
    border-radius: 15px;  
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E5EF5B 100%);
    width:170px;
    
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E5EF5B 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #E5EF5B 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E5EF5B));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E5EF5B 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #E5EF5B 100%);
background:blue;
}



/*a*/
#principal
{
	font-family: serif;
	font-size: 20px;
	margin-top: -50px;
	margin-left: 190px;
	height: 560px;
	width: 750px;
	border-style: ;
	border-width: px;
	border-radius: 5px;
	border-color: black;

/* Mozilla Firefox */ 
background-color:  ;

}
#bca
{
	font-family: serif;
	font-size: 20px;
	margin-top: -50px;
	margin-left: 190px;
	height: 266px;
	width: 750px;
	border-style: ;
	border-width: px;
	border-radius: 5px;
	border-color: black;

/* Mozilla Firefox */ 
background-color:  ;

}

/*mission*/
#mission
{
	font-family: serif;
	font-size: 25px;
	color:Black;
	margin-top: -90px;
	margin-left: 240px;
	height: 560px;
	width: 750px;
	
	
/* Mozilla Firefox */ 
background-color:  ;

}
#status
{
margin-top:500px;
margin-bottom:0px;
}
#sossal
{
margin-top:-25px;
margin-bottom:0px;

margin-right:20;
}

#body{
}
#principal1
{
	font-family: serif;
	font-size: 20px;
	margin-top: -50px;
	margin-left: -90px;
	height: 100px;
	width: 600px;
	border-style: ;
	border-width: px;
	border-radius: 5px;
	border-color: black;

/* Mozilla Firefox */ 
background-color: white ;

}






#content{ 
width:700px;
 margin-top:-150px; 
 margin-left:180px; 
 color:black ;
 float:left;
 }
 .heading
 {
  font-size: 22px; 
  color: #9c0403; 
  font-weight:normal;
  }
.main_facilities
{
width:751px; 
float:left; 
margin:30px 0 30px 0;
}
.black_title
{
font-size:16px; 
color:darkblue; 
font-weight:bold;
}
.facilities_photos{
width:100px; height:122px; float:left; border:1px solid #d2d0d0;
}
.facilities_content{width:550px; height:122px; float:left; margin:0 0 0 80px; line-height:18px; display:inline;}
.hr_line{width:751px; height:1px;  float:left; border-bottom:1px dotted #b3b3b3; display:inline;}

.facilities_photos{width:100px; height:122px; float:left; border:1px solid #d2d0d0;}






blockquote {
	margin: 10px 10px 50px 120px;
	.margin-left: 120px;
    position: relative;
	padding: 10px 15px 5px 15px;
	width:500px;
	border-top: 1px solid #fff;
	
  background-image: -moz-linear-gradient(top, white 10%, blue 80%);
  word-wrap:break-word;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  min-height: 100px;
  text-shadow:1px 1px 1px hsla(0,0%,100%,.7);
}
blockquote p {
	margin: 0;
	padding: 0 0 10px 0;
	line-height:28px;
}

blockquote:after{

  position:absolute;
  top: 50px;
  left: -20px;  
  content: "\00a0";
  display: block;
  width: 0;
  height: 0;
  border-width: 10px 20px 10px 0px;
  border-style: solid;
  border-color: transparent #A6DADC transparent transparent; 
}
blockquote:hover{
  top: -2px;
  left: -2px;
  box-shadow: 6px 6px 9px hsla(0,0%,0%,.5);
}

/* course offered start */
.main_table{width:647px; float:left; margin:0 0 32px 0;}
.table_heading{color:#730b04; font-size:12px; font-weight:bold; padding:0 0 0 21px; line-height:27px;}
.table_content{padding:0 0 0 21px; line-height:27px;}
.table_content_new{padding:0 0 0 21px;}
.table_content02{padding:0 0 0 10px;}
.table_content03{padding:0 0 0 0px;}
/* course offered end */
.bullets ul{ margin:0px 0 0px 0; padding:0px 0 0px 0; float:left; }
.bullets li{ margin:0px 0 0px 0; width:680px; padding:0px 0 0 12px; line-height:28px; list-style-type:none; float:left; background-image. url(../images/bullets.jpg); background-repeat:no-repeat; background-position:left;}

.bullets01 ul{ margin:0px 0 0px 0; padding:0px 0 0px 0; float:left;}
.bullets01 li{ margin:0px 0 0px 0; width:680px; padding:0px 0 0 12px; line-height:28px; list-style-type:none; float:; background-image: url(../images/bullets.jpg); background-repeat:no-repeat; background-position:left; }

#block1 {
	margin: 10px 10px 50px 120px;
	margin-left: 12px;
    position: relative;
	padding: 10px 15px 5px 15px;
	width:200px;
	border-top: 1px solid #fff;
	
  background-image: -moz-linear-gradient(top, white 10%, blue 80%);
  word-wrap:break-word;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  min-height: 100px;
  text-shadow:1px 1px 1px hsla(0,0%,100%,.7);
}
